{% extends "base.html" %}
{% set active_page = 'home' %}
{% block title %} Birthday Lookup {% endblock %}
{% block content %}
<form class="row g-3">
  <div class="col-auto">
    <fieldset class="form-field">
    {{ form.date.label(class="form-label") }}
		{{ form.date(class="form-control") }}
		{% if form.date.errors %}
            <ul class="errors">
              {% for error in form.date.errors %}
				    <li>{{ error }}</li>
              {% endfor %}
            </ul>		   
	    {% endif %}
    </fieldset> 	
  </div>
  <div class="col-auto">
    <fieldset class="form-field">
    {{ form.number_of_entries.label(class="form-label") }}
		{{ form.number_of_entries(class="form-control") }}
    </fieldset> 	
  </div>
  <div class="col-auto">
    <fieldset class="form-field">
    {{ form.submit(class="btn btn-primary") }}
    </fieldset>
  </div>
</form>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Birthyear</th>
    </tr>
  </thead>
  <tbody>
    {% for person in results %}
			<tr>
				<td>{{ loop.index }}</td>
				<td><img src="{{person['thumbnail']}}" width="50" height="60">{{ person['text']}}</td>			
				<td>{{ person['year'] }}</td>			
			</tr>
    {% endfor %}
  </tbody>
</table>
 {% endblock %}
